# Flutter/Dart related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
build/
pubspec.lock

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# macOS specific
*.DS_Store

# Windows specific
Thumbs.db

# Android related
android/.gradle/
android/app/*.keystore

# iOS related
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Web related
lib/generated_plugin_registrant.dart

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# Fuchsia related
.ffx/
